#textdomain wesnoth-Elves_and_Wose

[scenario]
    id=North_Bay
    name= _ "North Bay"
    {EW_MAP North_Bay}
    turns=30
    carryover_add=yes
    carryover_percentage=40

    {DEFAULT_SCHEDULE}
    {MOOD_NORMAL}

    next_scenario=North_Country

    [story]
        [part]
            story= _ "Thus, Saleh, Chantal, Milolas, and company, went to North Bay, via Lake Vrug. When they arrived, however, they saw that the North Elves had problems of their own with which to contend. They had been invaded by Aragwaithian soldiers."
            delay=4000
        [/part]
    [/story]

    [side]
        type=Elvish Captain
        id=Saleh
        save_id=Saleh
        name=_"Saleh"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_INTELLIGENT}
        [/modifications]
        side=1
        canrecruit=yes
        persistent=yes
        controller=human
        recruit=Wose
        team_name=saleh
        fog=yes
        shroud=no
        {GOLD 200 150 100}
    [/side]

    [side]
        type=Elvish Marshal
        id=Uradredia
        name=_"Uradredia"
        side=2
        controller=ai
        canrecruit=yes
        persistent=yes
        {GOLD 250 350 450}
        recruit=Elvish Fighter, Elvish Archer, Elvish Scout, Elvish Shaman
        team_name=saleh
        [ai]
            aggression=0.3
            caution=0.7
            grouping=defensive
            attack_depth=5
            recruitment_pattern=fighter,archer,archer,healer,scout
            {NO_SCOUTS}
        [/ai]
    [/side]

    [side]
        type=EW Aragwaithi Wizard
        id=Zorlin
        name=_"Zorlin"
        side=3
        canrecruit=yes
        {GOLD 250 350 450}
        {INCOME 4 8 12}
        team_name=aragwaithi

#ifdef EASY
        recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman
#endif

#ifdef NORMAL
        recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Wizard
#endif
#ifdef HARD
        recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Scout,EW Aragwaithi Wizard
#endif
        [ai]
            aggression=0.7
            caution=0.3
            attack_depth=4
            {NO_SCOUTS}
        [/ai]
        [village]
            x=23
            y=16
        [/village]
    [/side]

    [side]
        type=EW Aragwaithi Captain
        id=Merdor
        name=_"Merdor"
        side=4
        canrecruit=yes
        {INCOME 4 8 12}
        {GOLD 300 450 550}
        team_name=aragwaithi

#ifdef EASY
        recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Scout
#endif

#ifdef NORMAL
        recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Wizard,EW Aragwaithi Scout
#endif
#ifdef HARD
        recruit=EW Aragwaithi Warlock,EW Aragwaithi Archer,EW Aragwaithi Spearman,EW Aragwaithi Swordsman,EW Aragwaithi Scout,EW Aragwaithi Wizard,EW Aragwaithi Scout
#endif
        [ai]
            aggression=0.7
            caution=0.3
            attack_depth=4
            {NO_SCOUTS}
        [/ai]
        [village]
            x=32
            y=22
        [/village]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemies"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Saleh"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Greentall"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Bimli"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Chantal"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Milolas"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [capture_village]
            side=2
            x=21,24,30,34
            y=2,3,3,4
        [/capture_village]

        [recall]
            id=Greentall
        [/recall]
        [recall]
            id=Bimli
        [/recall]
        [recall]
            id=Chantal
        [/recall]
        [recall]
            id=Milolas
        [/recall]
        [item]
            x,y=4,6
            image=scenery/wreck.png
        [/item]
        [item]
            x,y=36,39
            image=scenery/wreck.png
        [/item]
    [/event]

    [event]
        name=start

        [message]
            id=Chantal
            message= _ "Uradredia, I see that you have been invaded by Aragwaithians. This is bad timing, as we were coming to request troops to help us in Gitamoth and Glyn's Forests. "
        [/message]

        [message]
            id=Uradredia
            message= _ "Yes, they arrived in the middle of the night by surprise. Fortunately, the weather was harsh, and many of their ships have either wrecked, or have been turned back. But we could use some help with the ones who successfully landed."
        [/message]

        [message]
            id=Saleh
            message= _ "We can help!"
        [/message]

        [message]
            id=Uradredia
            message= _ "Excellent!"
        [/message]

        [message]
            id=Merdor
            message= _ "Silence elves! The Aragwaith are here to lay claim on our rightful lands. Either leave, or prepare to die!"
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            id=Saleh
            message=  _ "We still haven't defeated the enemy and our troops and supplies are exhausted. This is the end!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Zorlin
        [/filter]
        [message]
            speaker=Saleh
            message= _ "Go back to your homes Aragwaithian invaders!!"
        [/message]
    [/event]

    [event]
        name=enemies defeated

        [message]
            speaker=Uradredia
            message= _ "So tell me, what brings the elves of Wesmere to the North?"
        [/message]

        [message]
            speaker=Chantal
            message= _ "We actually came to seek your help. There is trouble brewing in the lands to the south. We fear that Iradia may be making a move to have Kalenz murdered so that he may assume control of Wesmere. He may also have made a deal with orcs and saurians. For all we know, he may have made a deal with the Aragwaith as well."
        [/message]

        [message]
            speaker=Uradredia
            message= _ "Well, we have defended North Bay. But there are more invaders inland. Help us push them out, and we will be free to help you in the South."
        [/message]

        [message]
            speaker=Uradredia
            message= _ "I knew Iradia could not be trusted. Well, we will see to it that Kalenz is restored to power and Iradia is locked away.."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]

    [event]
        name=victory

        [allow_recruit]
            side=1
            type=Elvish Fighter,Elvish Archer,Elvish Scout
        [/allow_recruit]
    [/event]
    #!bonus unit
    [event]
        name=moveto

        [filter]
            side=1
            x,y=4,6
        [/filter]

        [message]
            speaker=unit
            message=_"Look there is someone trapped"
        [/message]
        [unit]
#ifdef HARD
            type=Naga Fighter
            experience=9
#else
            type=Naga Warrior
#endif
            side=1
            x,y=$x1,$y1
            hitpoints=2
            role=naga
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_STRONG}
            [/modifications]
            {IS_LOYAL}
        [/unit]
        [message]
            role=naga
            message=_"Ah I'm finished"
        [/message]
        [message]
            speaker=unit
            message=_"We may view for your wounds"
        [/message]
    [/event]
    {HERO_DEATHS}
[/scenario]
