#textdomain wesnoth-Elves_and_Wose

[scenario]
    name= _ "Revelations"
    id=Revelations
    {EW_MAP Revelations}
    turns=-1
    next_scenario=Kings_Courtyard
    victory_when_enemies_defeated=no
    carryover_add=no
    carryover_percentage=0

    # item-potion1.png  -potion4
    #item-book4.png

    {DUSK}

    [music]
        name=suspense.ogg
    [/music]

    [side]
        type=Elvish Captain
        id=Saleh
        save_id=Saleh
        name=_"Saleh"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_INTELLIGENT}
        [/modifications]
        side=1
        canrecruit=yes
        persistent=yes
        controller=human
        gold=100
        team_name=Saleh
    [/side]

    [side]
        type=Elder Mage
        id=Crelanu
        name=_"Crenalu"
        profile="portraits/crelanu.png"
        side=2
        team_name=Saleh
    [/side]

    [event]
        name=start

        [recall]
            id=Bimli
        [/recall]
        [recall]
            id=Greentall
        [/recall]
        [recall]
            id=Chantal
        [/recall]
        [recall]
            id=Milolas
        [/recall]
        [message]
            id=Crelanu
            message= _ "I am glad to see you all have come to seek my guidance. With the passing of Delfador, the province of Wesmere is in a vulnerable state. If High Lord Kalenz is assassinated, Iradia will assume his power. And if this happens, Iradia will make unholy alliances with orcs, saurians, trolls, and of course, Aragwaith."
        [/message]

        [message]
            id=Chantal
            message= _ "We were just on our way back from the North, where the Aragwaith have already attempted a take-over. Had it not been for Eloh's grace, the Aragwaith may have overwhelmed the Uradredia."
        [/message]
        [message]
            id=Crelanu
            message=  _ "Eloh is a loving God. But I may have opened my book to see what kind of storm could be stirred up for the Aragwaith. "
        [/message]

        [message]
            id=Milolas
            message=  _ "That was your handy-work? Hey, wait, I thought your book was taken from you."
        [/message]

        [message]
            id=Crelanu
            message=  _ "Do you honestly think I didn't make a copy?"
        [/message]

        [message]
            id=Milolas
            message=  _ "..."
        [/message]

        [message]
            id=Saleh
            message=  _ "All of that aside, what do you know of Kalenz? Is he safe?"
        [/message]

        [message]
            id=Crelanu
            message= _ "At the time being, he is indeed safe. The wose have been helpful allies. However, there is a large coordinated ambush waiting for him just outside of Weldyn. Their numbers are too great for Kalenz to survive."
        [/message]

        [message]
            id=Saleh
            message= _ "What? Isn't there anything that can be done?"
        [/message]

        [message]
            id=Crelanu
            message= _ "I will teleport myself to pay a visit to King Konrad II, requesting his help. If the humans lend assistance, then Kalenz has a chance. Otherwise, the future looks grim. Iradia, though a snake, is a clever elf, and this time he does not plan to fail."
        [/message]

        #!saleh parts away
        {STORE_ARMY salehs_army}
        [store_gold]
            side=1
            variable=salehs_gold
        [/store_gold]

        [endlevel]
            result=continue
            bonus=no
            carryover_percentage=0
        [/endlevel]
    [/event]
[/scenario]
