#textdomain wesnoth-Elves_and_Wose

[scenario]
    id=Kalenz_Ambushed
    name= _ "Kalenz Ambushed"
    {EW_MAP Kalenz_Ambushed}
    turns=25
    carryover_add=no
    carryover_percentage=0

    {DEFAULT_SCHEDULE}
    {MOOD_BATTLE}

    next_scenario=Recuperating

    [story]
        [part]
            story= _ "As Kalenz proceeded with the wose towards Weldyn, he found himself surrounded."
            delay=4000
        [/part]
    [/story]

    [side]
        type=Elvish High Lord
        id=Kalenz
        name=_"Kalenz"
        profile="portraits/kalenz.png"
        side=1
        canrecruit=yes
        persistent=yes
        controller=human
        recruit=Wose
        team_name=kalenz
        {GOLD 300 250 150}
    [/side]
    [side]
        type=Elder Mage
        id=Crelanu
        name=_"Crenalu"
        profile="portraits/crelanu.png"
        side=2
        controller=ai
        canrecruit=yes
        {GOLD 450 400 350}
        recruit=Heavy Infantryman,Dragoon,Longbowman,Duelist,Halberdier,Horseman,Cavalier,Cavalryman,Royal Guard,Mage,Swordsman,Bowman,Gryphon Rider
        team_name=kalenz
        [ai]
            passive_leader=yes
            protect_leader=20
            aggression=0.3
            caution=0.7
            village_value=0.3
            grouping=defensive
            [protect_unit]
                id=Kalenz
                value=10
                radius=8
            [/protect_unit]
            [protect_unit]
                id=Crelanu
                value=20
                radius=8
            [/protect_unit]
        [/ai]
    [/side]

    [side]
        type=Orcish Warlord
        id=Pirror
        side=3
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Archer,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Goblin Pillager,Goblin Spearman
#endif

#ifdef NORMAL
        recruit=Orcish Archer,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Orcish Assassin,Goblin Pillager,Goblin Spearman,Goblin Impaler,Orcish Warrior
#endif

#ifdef HARD
        recruit=Orcish Archer,Orcish Assassin,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Orcish Warrior,Goblin Knight,Goblin Pillager,Goblin Spearman,Goblin Impaler,Orcish Slayer
#endif
        {GOLD 400 480 550}
        team_name=orcs
        [ai]
            {NO_SCOUTS}
            recruitment_ignore_bad_movement=yes
            recruitment_pattern=fighter,scout,mixed fighter,fighter,archer
            {ATTACK_DEPTH 4 5 6}
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            aggression=0.75
            caution=0.0
            grouping=no
        [/ai]
        {INCOME 8 16 24}
    [/side]

    [side]
        type=Orcish Warlord
        id=Tan-Grub
        side=4
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Archer,Orcish Assassin,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Goblin Pillager
#endif

#ifdef NORMAL
        recruit=Orcish Archer,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Orcish Assassin,Goblin Pillager,Orcish Slayer
#endif

#ifdef HARD
        recruit=Orcish Archer,Orcish Assassin,Orcish Slayer,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Orcish Warrior,Goblin Knight,Goblin Pillager
#endif
        {GOLD 400 480 550}
        team_name=orcs
        [ai]
            {NO_SCOUTS}
            recruitment_ignore_bad_movement=yes
            recruitment_pattern=fighter,scout,mixed fighter,archer,fighter
            {ATTACK_DEPTH 4 5 6}
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            aggression=0.75
            caution=0.0
            grouping=no
        [/ai]
        {INCOME 8 16 24}
    [/side]

    [side]
        type=Troll Warrior
        id=Grugl
        side=5
        canrecruit=yes
#ifdef EASY
        recruit=Troll Whelp,Young Ogre
#endif

#ifdef NORMAL
        recruit=Troll Whelp,Young Ogre,Troll,Troll Rocklobber
#endif

#ifdef HARD
        recruit=Troll Whelp,Young Ogre,Ogre,Troll,Troll Warrior,Troll Rocklobber
#endif

        {GOLD 280 330 380}
        team_name=orcs
        [ai]
            {NO_SCOUTS}
            recruitment_ignore_bad_movement=yes
            grouping=no
            {ATTACK_DEPTH 2 3 4}
        [/ai]

        {INCOME 6 12 18}
    [/side]

    [side]
        type=Orcish Warlord
        id=Khafa-Urg
        side=6
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Archer,Orcish Assassin,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Goblin Pillager
#endif

#ifdef NORMAL
        recruit=Orcish Archer,Orcish Grunt,Orcish Slayer,Wolf Rider,Orcish Crossbowman,Orcish Assassin,Goblin Pillager
#endif

#ifdef HARD
        recruit=Orcish Archer,Orcish Assassin,Orcish Slayer,Orcish Grunt,Wolf Rider,Orcish Crossbowman,Orcish Warrior,Goblin Knight,Goblin Pillager
#endif
        {GOLD 400 480 550}
        team_name=orcs
        [ai]
            {NO_SCOUTS}
            recruitment_ignore_bad_movement=yes
            recruitment_pattern=fighter,scout,mixed fighter,archer,fighter
            {ATTACK_DEPTH 4 5 6}
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            aggression=0.75
            caution=0.0
            grouping=no
        [/ai]
        {INCOME 8 16 24}
    [/side]

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Defeat all enemies"
                condition=win
            [/objective]
            [objective]
                description= _ "Last for 25 turns"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kalenz"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Crelanu"
                condition=lose
            [/objective]
            note={NO_EARLY_FINISH_BONUS_NOTE}
        [/objectives]

#ifdef EASY
        {NEW_LEADER (Wose,Elder Wose)}
#else
        {NEW_LEADER (Wose)}
#endif
    [/event]

    {STARTING_VILLAGES 1 6}
    {STARTING_VILLAGES 2 12}
    {STARTING_VILLAGES 5 6}

    [event]
        name=start
        [message]
            id=Kalenz
            message= _ "It's another Ambush! Someone must really have it out for me!"
        [/message]
        [message]
            id=Crelanu
            message= _ "Kalenz, I have come to provide you help in escaping this ambush. I have enlisted the help of some humans by order of King Konrad II."
        [/message]

        [move_unit_fake]
            type=Horseman
            x=24,24,24
            y=23,22,21
        [/move_unit_fake]

        [unit]
            id=Aldun
            name=_"Aldun"
            type=Horseman
            side=1
            x=24
            y=21
            facing=reverse
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            {IS_LOYAL}
        [/unit]
        [message]
            id=Aldun
            message= _ "The humans are here to protect the High Lord of Wesmere."
        [/message]
        [message]
            id=Kalenz
            message= _ "The Elder Mage Crelanu? Here to protect me? I didn't realize you still existed, if you will pardon my frankness."
        [/message]
        [message]
            id=Crelanu
            message= _ "I'll explain that later. Now we must focus on one thing: survival. After that, I will explain everything."
        [/message]
    [/event]

    [event]
        name=turn 2

        [unit]
            id=Lord Halloran
            type=Grand Knight
            name=_"Lord Halloran"
            side=1
            x=4
            y=15
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_STRONG}
            [/modifications]
            {IS_LOYAL}
        [/unit]
        [unit]
            generate_name=yes
            type=Cavalryman
            side=1
            x=1
            y=15
        [/unit]
        [unit]
            generate_name=yes
            type=Cavalryman
            side=1
            x=3
            y=15
        [/unit]
        [unit]
            generate_name=yes
            type=Paladin
            side=1
            x=2
            y=15
        [/unit]
        [unit]
            generate_name=yes
            type=Horseman
            side=1
            x=2
            y=16]
        [/unit]
        [unit]
            generate_name=yes
            type=Horseman
            side=1
            x=1
            y=16
        [/unit]
        [unit]
            generate_name=yes
            type=Horseman
            side=1
            x=3
            y=16
        [/unit]
        [message]
            id=Lord Halloran
            message= _ "We have been called by our king to protect the High Lord Kalenz."
        [/message]
        [message]
            id=Kalenz
            message= _ "Your assistance is most welcome! The kindness of the king will be reported in Wesmere."
        [/message]
        [message]
            id=Lord Halloran
            message= _ "DIE ORCS!"
        [/message]
    [/event]

    [event]
        name=turn 10
        [message]
            id=Kalenz
            message=_ "There are so many, I don't know how long we can hold!"
        [/message]
        [message]
            id=Crelanu
            message=_ "I was afraid of that! (**thinking to self**)  I have no choice, but to use my book. There was once a battle here on this field. Today, I will raise the fallen spirits of those soldiers to protect us..."
        [/message]

        [unit]
            id=Melonas
            type=Elvish Sharpshooter
            side=2
            x=13
            y=11
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
        [unit]
            id=Aronas
            type=Elvish Sharpshooter
            side=2
            x=14
            y=11
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]
        [unit]
            id=Halard
            type=Elvish Avenger
            side=2
            x=14
            y=12
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        [unit]
            id=Insith
            type=Elvish Marksman
            side=2
            x=14
            y=13
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        [unit]
            id=Aladan
            type=Elvish Marksman
            side=2
            x=19
            y=12
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        [unit]
            id=Korrigan
            type=Elvish Lord
            side=2
            x=19
            y=13
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        [unit]
            id=Prager
            type=Elvish Avenger
            side=2
            x=17
            y=14
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        [unit]
            id=Mirqas
            type=Elvish Avenger
            side=2
            x=15
            y=14
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        [unit]
            id=Undor
            type=Elvish Avenger
            side=2
            x=18
            y=10
            random_traits=no
            upkeep=loyal
            [modifications]
                {TRAIT_UNDEAD}
                [object]
                    silent="yes"
                    [effect]
                        apply_to=image_mod
                        replace="~O(30%)"
                    [/effect]
                [/object]
            [/modifications]
        [/unit]

        [message]
            id=Korrigan
            message= _ "Crelanu, we are hear at your summoning to protect Kalenz."
        [/message]
        [message]
            id=Tan-Grub
            message= _ "Who said that? The crazy mage has opened the door to the Spirit World! We are doomed!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=Crelanu
        [/filter]
        [message]
            speaker=Kalenz
            message= _ "We cannot continue without Crelanu!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=turn 25
        [message]
            speaker=Kalenz
            message= _ "We have stopped the orcs and trolls! They are running for the hills "
        [/message]
        [endlevel]
            result=victory
            bonus=no
            carryover_percentage=0
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Grugl
        [/filter]
        [message]
            speaker=unit
            message= _ "I should have stayed in the mountains and lived in peace."
        [/message]
    [/event]
    {KALENZ_DEATH}
[/scenario]
