#textdomain wesnoth-Elves_and_Wose

[scenario]
    id=Glyns_Forest
    name=_  "Glyn's Forest"
    {EW_MAP Glyns_Forest}
    turns=30
    carryover_add=yes
    carryover_percentage=40

    {DEFAULT_SCHEDULE}
    {MOOD_CALM}

    next_scenario=Glyns_Castle

    [story]
        [part]
            story=_ "It had been two days since Kalenz was informed that the great Elder Mage Delfador had passed away, and was to be buried at the Royal Crypt in Weldyn. As he set out to pay tribute to his old friend, he reflected that Delfador had lived a long and successful life, while contributing a great service to the humans of Wesnoth. Without him, both Wesnoth and Wesmere would have surely fallen to the evil Queen Asheviere. Yes, Delfador's passing caused Kalenz great sadness."
            delay=4000
            show_title=no
        [/part]

        [part]
            story=_ "Kalenz decided that he would travel alone along the Northern edge of the Great River, and cross over at Glyn's Forest. There he would visit his comrade, Saleh, before continuing on the long journey to Weldyn, as this would surely cheer him up.
Despite of Saleh's parents had joined Landar in the great war among the elves, and therefore exiled by the Ka'lian meeting, the Glyn's forest were a welcome rest for Kalenz battered spirit restore forces and meet a friend."

            #! <<since the original dont fit mainline, somewhat like that...'Despite of Saleh's parents had joined Landar in the great war among the elves, and therefore exiled by the Ka'lian meeting, the Glyn's forest were a welcome rest for Kalenz battered spirit to restore forces and meet a friend.'>>

            #!<< original...: 'The two were very close as young elves, but were separated when Saleh's family decided to migrate to Glyn's Forest, fed up with the elders in Wesmere. Periodically, the two would send messages to each other via scouts. But Kalenz thought it would be nice to see his old friend in person.'>>
            delay=4000
            show_title=no
        [/part]

        [part]
            story=_ "Kalenz and Saleh were traveling along a tributary of the Great River in Glyn's Forest, catching up on old times, when Saleh commented, 'Being close to humans is painful, as there lives are so short.' Kalenz, for his part, smiled and replied, 'Yes, but they are a curious race, full of surprises. I shall miss the wisdom and perspective of Delfador.'"
            delay=4000
            show_title=no
        [/part]

        [part]
            story=_ "As they were talking, they failed to notice the fact that they had wandered directly into a Saurian and Orc ambush..."
            delay=4000
            show_title=no
        [/part]
    [/story]

    {GLYNS_FOREST}

    [side]
        type=Elvish Captain
        id=Saleh
        save_id=Saleh
        name=_"Saleh"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_INTELLIGENT}
        [/modifications]
        side=1
        canrecruit=yes
        persistent=yes
        controller=human
        recruit=Wose, Wose Shaman
        team_name=kalenz
        {GOLD 200 150 100}
        {INCOME 2 4 6}
        [village]
            x,y=7,2
        [/village]
    [/side]
    [side]
        type=Elvish High Lord
        id=Kalenz
        save_id=Kalenz
        persistent=yes
        name=_"Kalenz"
        profile="portraits/kalenz.png"
        [modifications]
            {TRAIT_LOYAL}
            {TRAIT_RESILIENT}
        [/modifications]
        {IS_HERO}
        side=2
        controller=ai
        canrecruit=yes
        recruit=Wose
        team_name=kalenz
        {GOLD 140 120 100}
        {INCOME 2 4 8}
        [ai]
            village_value=0.5
            leader_value=0.5
            grouping=defensive
            aggression=0.5
            caution=0.5
            protect_leader=20
        [/ai]
        [village]
            x,y=25,2
        [/village]
    [/side]

    [side]
        type=Saurian Ambusher
        id=Trigr
        side=3
        canrecruit=yes
        {GOLD 150 240 280}
        {INCOME 4 8 12}
        team_name=orcs
#ifdef EASY
        recruit=Saurian Skirmisher
#endif
#ifdef NORMAL
        recruit=Saurian Skirmisher, Mudcrawler, Saurian Ambusher
#endif
#ifdef HARD
        recruit=Saurian Skirmisher, Mudcrawler, Giant Mudcrawler, Saurian Ambusher
#endif
        [ai]
            recruitment_ignore_bad_movement=yes
#ifdef EASY
            recruitment_pattern=scout
#else
            recruitment_pattern=scout,scout,archer
#endif
            [target]
                id=Kalenz
                value=5
            [/target]
        [/ai]
    [/side]

    [side]
        type=Saurian Ambusher
        id=Shunar
        side=4
        canrecruit=yes
        {GOLD 150 240 280}
        {INCOME 4 8 12}
        team_name=orcs
#ifdef EASY
        recruit=Saurian Skirmisher
#endif
#ifdef NORMAL
        recruit=Saurian Skirmisher, Mudcrawler, Saurian Ambusher
#endif
#ifdef HARD
        recruit=Saurian Skirmisher, Mudcrawler, Giant Mudcrawler, Saurian Ambusher
#endif
        [ai]
            recruitment_ignore_bad_movement=yes
#ifdef EASY
            recruitment_pattern=scout
#else
            recruitment_pattern=scout,scout,archer
#endif
            [target]
                id=Kalenz
                value=20
            [/target]
        [/ai]
    [/side]
    [side]
        type=Orcish Warrior
        id=Hantlic
        side=5
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Archer, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Pillager
#endif

#ifdef NORMAL
        recruit=Orcish Archer, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Goblin Pillager, Goblin Knight
#endif

#ifdef HARD
        recruit=Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf Rider, Orcish Crossbowman, Orcish Warrior, Goblin Pillager, Goblin Knight
#endif

        {GOLD 140 220 300}
        {INCOME 2 4 8}
        team_name=orcs
        [ai]
            {NO_SCOUTS}
            recruitment_ignore_bad_movement=yes
#ifdef HARD
            recruitment_pattern=archer,archer,fighter,scout,mixed fighter
#else
            recruitment_pattern=archer,fighter,fighter,scout
#endif

            [target]
                id=Kalenz
                value=10
            [/target]
        [/ai]
        [ai]
            time_of_day=dusk,first_watch,second_watch
            aggression=0.75
            caution=0.0
            grouping=no
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                description= _ "Defeat Enemy Leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Saleh"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Kalenz"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Greentall"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [capture_village]
            side=5
            x=16,6
            y=29,29
        [/capture_village]
    [/event]

    [event]
        name=start

        [message]
            id=Shunar
            message= _ "Well, well! If it issssssssn't the fabled Kalenz! Once we kill you, it will be much eassssier to overtake lands of Wesnoth!"
        [/message]

        [message]
            id=Saleh
            message= _ "Oh no! Where did all of these Saurians and Orcs come from?"
        [/message]

        [message]
            id=Kalenz
            message= _ "It looks like they were tipped off that I would be passing through Glyn's Forest alone. Since I have decided to make this trip inconspicously, I have no soldiers to protect us. This, unfortunately, could be our final day together old friend. We may soon be joining Landar in the Spirit World. But not without a fight!"
        [/message]

        [message]
            id=Saleh
            message= _ "I am not quite ready to die yet, comrade. We have friends here that these intruders have not yet noticed. Greentall, are you there?"
        [/message]

        [unit]
            type=Elder Wose
            id=Greentall
            name=_"Greentall"
            side=1
            x,y=16,15
            unrenamable=yes
            upkeep=loyal
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_SLOW}
            [/modifications]
            {IS_HERO}
        [/unit]

        [message]
            id=Greentall
            message= _ "Hmmmm? Did someone say it is time to kill some Saurians? That sounds like fun. Oh, and I have some friends here who would like to join us."
        [/message]

        [message]
            id=Shunar
            message= _ "Curssssesss! The wosssse are here!"
        [/message]

        [message]
            id=Saleh
            message= _ "Kalenz, we may live through this day afterall. The wose will fight by our side!"
        [/message]

        [message]
            id=Kalenz
            message= _ "Your help is indeed most welcome. You will be rewarded by Wesmere for your services."
        [/message]

        [message]
            id=Greentall
            message= _ "We only ask that you acknowledge our role in upholding an ancient alliance between our people."
        [/message]

        [message]
            id=Kalenz
            message= _ "Consider your actions noted!"
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            id=Saleh
            message= _ "Oh, no! More of them are pouring in, we are too late..."
        [/message]
    [/event]

    [event]
        name=enemies defeated

        [message]
            id=Kalenz
            message= _ "Greentall, we are in your debt for helping us survive this dreadful and unexpected day."
        [/message]

        [message]
            id=Greentall
            message= _ "That is what old alliances are for I guess."
        [/message]

        [message]
            id=Kalenz
            message= _ "Well, now I feel that I must return to the Ka'lian. Who knows what other surprises are in store for me, if I continue alone. There will surely be other Orcs and Saurians in the area out for my blood, as my security has been comprimised. Saleh, let us go to visit the leader of the wose, to offer our thanks and a small offering of gold before I return home."
        [/message]

        [message]
            id=Saleh
            message= _ "Wait. Why don't we ask the leader of the wose to give you protection on your way to Weldyn? He can surely spare some soldiers. I can go to the Ka'lian to request a batallion of soldiers to come here and protect you on your way home."
        [/message]

        [message]
            id=Kalenz
            message= _ "I guess it wouldn't hurt to ask. Saleh, you truly are a great and thougtful friend."
        [/message]

        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=victory

        {MODIFY_UNIT id=Kalenz canrecruit no}
        {MODIFY_UNIT id=Kalenz side 1}
    [/event]

    {HERO_DEATHS}
    {KALENZ_DEATH}
[/scenario]
