#textdomain wesnoth-Elves_and_Wose

[scenario]
    id=Troll_Road
    name= _ "Troll Road"
    next_scenario=Gitamoth_Border
    {EW_MAP Troll_Road}
    turns=30
    victory_when_enemies_defeated=no
    carryover_add=yes
    carryover_percentage=40

    {DEFAULT_SCHEDULE}
    {MOOD_DOOM}

    [story]
        [part]
            story= _ "The last encounter made Saleh nervous about the surprises ahead, but even more anxious to see the inside of a forest again. He pressed on through the second leg of troll country: Troll Road."
        [/part]
    [/story]

    {TROLL_ROAD}

    [side]
        type=Elvish Captain
        id=Saleh
        save_id=Saleh
        name=_"Saleh"
        [modifications]
            {TRAIT_STRONG}
            {TRAIT_INTELLIGENT}
        [/modifications]
        side=1
        canrecruit=yes
        persistent=yes
        controller=human
        recruit=Wose
        team_name=kalenz
        fog=yes
        shroud=no
        {GOLD 200 150 100}
    [/side]

    [side]
        type=Troll Warrior
        id=Brundl
        name=_"Brundl"
        side=2
        canrecruit=yes
        team_name=trolls

#ifdef EASY
        recruit=Troll Whelp
#endif

#ifdef NORMAL
        recruit=Troll Whelp, Troll
#endif

#ifdef HARD
        recruit=Troll Whelp, Troll, Troll Rocklobber, Troll Warrior
#endif

        {GOLD 130 150 180}
        {INCOME 4 8 12}
    [/side]

    [side]
        type=Troll Warrior
        id=Zilran
        name=_"Zilran"
        side=3
        canrecruit=yes
        team_name=trolls

#ifdef EASY
        recruit=Troll Whelp
#endif

#ifdef NORMAL
        recruit=Troll Whelp, Troll
#endif

#ifdef HARD
        recruit=Troll Whelp, Troll, Troll Rocklobber, Troll Warrior
#endif

        {GOLD 150 180 200}
        {INCOME 4 8 12}
    [/side]
    [item]
        x=8
        y=1
        image=scenery/signpost.png
    [/item]

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Move to Signpost"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Saleh"
                condition=lose
            [/objective]
            [objective]
                description= _ "Greentall"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
        [capture_village]
            side=2
            x=27,26,30,3,7
            y=19,1,4,30,27
        [/capture_village]
        [capture_village]
            side=3
            x=4,1,2,4,14
            y=19,12,16,3,1
        [/capture_village]

        [recall]
            id=Greentall
        [/recall]
        [recall]
            id=Bimli
        [/recall]
    [/event]

    [event]
        name=start

        [message]
            id=Brundl
            message= _ "Look Zilran, an elf has made it alive to this point. That is highly unusual. I wonder if Truar was asleep?"
        [/message]
        [message]
            id=Zilran
            message= _ "Maybe they should meet our friend?"
        [/message]
        [message]
            id=Saleh
            message= _ "Please, I only mean to get to Gitamoth Forest on the other side of the mountain, if only you will..."
        [/message]
        [message]
            id=Brundl
            message= _ "You will make a good snack for him. And your tree friend will make a nice fire for us. Hahahaha!"
        [/message]
        [message]
            id=Saleh
            message= _ "Again, we have no choice."
        [/message]
        [message]
            id=Greentall
            message= _ "You just try to make me a fire, you green son of a..."
        [/message]
    [/event]

    [event]
        name=turn 5
        [unit]
            type=Yeti
            name=_"Grawl"
            id=Grawl
            x=30
            y=9
            team_name=trolls
            side=3
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]

        [message]
            id=Grawl
            message= _ "RUUUUAAAAAR!!!!!"
        [/message]

        [message]
            id=Saleh
            message= _ "WHOA! So that must be there friend. Careful, that thing looks dangerous."
        [/message]

        [message]
            id=Bimli
            message= _ "Yikes!"
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            id=Saleh
            message= _ "We are too late..."
        [/message]
    [/event]

    [event]
        name=victory

        [message]
            id=Saleh
            message= _ "I do look forward to seeing the forest again."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            x=8
            y=1
            id=Saleh
        [/filter]
        [message]
            speaker=Saleh
            message= _ "It wasn't easy, but we made it! Onward!"
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {HERO_DEATHS}
[/scenario]
